.header {
  margin-top: 45px;
  border-bottom: 1px solid #545454;
}

.header__image {
  margin-bottom: 41px;
}

@media screen and (max-width: 595px) {
  .header__image {
    margin: 0 167px 32px 27px;
  }
}
