.header {
  margin: 0 auto;
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__image {
  margin-bottom: 41px;
}

@media screen and (max-width: 595px) {
  .header {
    margin-top: 0;
  }

  .header__image {
    margin: 28px 167px 32px 27px;
    width: 126px;
    height: 24px;
  }
}

@media screen and (max-width: 320px) {
  .cards {
    margin-top: 36px;
  }
}
